@page "/informationOne"

@using BlazorApp1.Data
@inject InformationService InformationRepository

<h1>Check this amazing information</h1>
<br />

@if (information == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var item in information)
    {
        <section>
            <h3>@item.Title</h3>
            <h2>@item.Content</h2>
        </section>
        <br />
    }
}

<button @onclick="@(()=>doApiStuff())">Click me to change: @counter / @apiCalled </button>

@code {

    List<InformationOneContent> information;
    string apiCalled = "";
    int counter = 0;


    protected override async Task OnInitializedAsync()
    {
        information = await InformationRepository.GetInfoAsync();
    }

    private async Task doApiStuff()
    {
        InformationRepository.getApiStuff();
        counter++;
        apiCalled = InformationRepository.getFoo1();
        Console.WriteLine("Pressed button");
    }

}
